<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>High Scores</title>
</head>
<body>

    <h3>
        <a href="index.html">Home</a>
        <a href="highscores.html">High Scores</a>
    </h3>

    <hr>

    <ol>
        <script>
            fetch('/getscores').then(function(scores){
                scores.json().then(function(thescores){
                    console.log(thescores);
                    for (let score of thescores.scores){
                        console.log(score);
                        var scorename = document.createElement('li');
    
                        scorename.innerText = score.name + " : " + score.score;
        
                       
                        document.body.appendChild(scorename);

                        
                    }
                });
            });
        </script>

    </ol>

    
</body>
</html>