<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ross Molzahn Assignment 3 Homepage</title>
</head>
<body>

    <h3>
        <a href="index.html">Home</a>
        <a href="highscores.html">High Scores</a>
    </h3>

    <hr>

    <br>

    <form action="">
        <label for="name">Player Name:</label>
        <input type="text" name="name" id="PlayerName">
        <br>
        <br>
        <label for="score">Score:</label>
        <input type="text" name="score" id="PlayerScore">
        <br>
        <br>
        <button type="submit">Submit Score</button>
    </form>

</body>
</html>